/* *{
     &::-webkit-scrollbar {
        display:none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
} */


.home-main .menutop{
    display: flex;
    overflow-x: scroll;
}



.home-main .menutop{
     &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    padding: 20px;
    margin-top: 20px;
  
}

.image-container{
    position: relative;
}

.image-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.image-container::after{
    border-radius: 16px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 50%;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0) 80%
    );

    pointer-events: none;
}

.offer{
    position: absolute;
    bottom: 5px;
    left: 10px;

    color: white;
    font-size: 1rem;
    font-weight: 800;
    z-index: 2;
}

.home h1{
    margin-left: 40px;
}

.card {
    background:transparent;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
}


.card h3 {
    padding-left: 5px;
    padding-top: 5px;
    color: #333;
}

.card p {
    margin-bottom: 10px;
    color: #989595;
    line-height: 1;
    font-weight: 500;

}

.card span #star{
 color: green;
}

.card .rating{
    display: flex;
    padding: 5px 5px;
    gap: 3px;
}

.cardcuisines{
 display: flex;
 gap: 5px;
}



@media (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .card img {
        height: 200px;
    }
}

.home-main #menuheader{
    margin-top: 2%;
}
.home-main .topmenuhead{
    margin-top: 8%;
}

.topmenuhead{
    display: flex;
    justify-content: space-between;
    
}
.RestaurantLink{
    text-decoration: none;
    color: black;
}


.menu,
.home-main .menutop,
.home-main #menuheader,
.home-main .topmenuhead{
    max-width:1400px;
    margin-left:auto;
    margin-right:auto;
    padding:0 20px;
}

@media (min-width: 1400px) {
    
}
