/* body {
    font-family: "Poppins", sans-serif;
} */

.heading {
    font-family: "Outfit", sans-serif;
}

.text {
    font-family: "Roboto", sans-serif;
}


body{
    font-family: "Inter", sans-serif;
}